extends layout

block content
  if isCategory && data.item_list.length === 0
    div(class='delete-item category')
      - const url = `/categories/${title}/delete`;
      form(action=url method='POST')
          button(type='submit') Delete Category
  div(class='title-button-wrapper')
    h1(class='items-title') !{title} Items:
    div(class='new-item-wrapper')
      a(href='/items/new' class='new-item-link') New Item 
  include items_list.pug