div(class='items-wrapper')
   each item in data.item_list
        div(class='item-preview') 
          a(href=item.url)
             img(src=item.img_url alt='item-image')
             h2= item.name
             a(href='/categories/' + item.category.name) !{item.category.name}     
