div(class='items-wrapper')
   each item in data.item_list
        div(class='item-preview') 
          a(href=item.url)=item.img
             img(src=item.img.path alt='item-img')
             h2= item.name
             a(href='/categories/' + item.category.name) !{item.category.name}     
