extends layout
block content
  form(action='/items/new', method='POST' class='item-create-form') 
      h1 New Item
      
      div(class='form-div') 
        label(for='name') Title: 
        input(type='text', name='name', value=(undefined=== name ? '' : name))
        label(for='description') Description: 
        input(type='text', name='description', value=(undefined=== description ? '' : description))
        label(for='category' name='category') Category: 
        select(name='category' value=(undefined=== category ? '' : category))
          each category in data.category_list
            option(value=category.id) #{category.name}
        label(for='price') Price: 
        input(type='text', name='price', value=(undefined=== price ? '' : price))
        label(for='number_in_stock') Number in stock: 
        input(type='text', name='number_in_stock',value=(undefined=== number_in_stock ? '' : number_in_stock))
      input(type='submit', value='Submit' class='submit-button')
  if errors
    ul
      for error in errors
        li!= error.msg